[submodule "packages/nomad-FAIR"]
	path = packages/nomad-FAIR
	url = https://gitlab.mpcdf.mpg.de/nomad-lab/nomad-FAIR.git
[submodule "nomad-simulations"]
	path = nomad-simulations
	url = https://github.com/nomad-coe/nomad-simulations.git
[submodule "packages/nomad-simulations"]
	path = packages/nomad-simulations
	url = https://github.com/nomad-coe/nomad-simulations.git
[submodule "nomad-parser-qutip"]
	path = nomad-parser-qutip
	url = https://github.com/FAIRmat-NFDI/nomad-parser-qutip.git
[submodule "packages/nomad-parser-qutip"]
	path = packages/nomad-parser-qutip
	url = https://github.com/FAIRmat-NFDI/nomad-parser-qutip.git
[submodule "packages/nomad-plugin-qutip"]
	path = packages/nomad-plugin-qutip
	url = https://github.com/GiovanniCastorina/nomad-plugin-qutip.git
